////////////////////////////////////////////
///// 		FOOTER
///////////////////////////////////////////////

// MIXINS  ------------------------------------------------



// // END MIXINS ------------------------------------------------

// MAIN CODE  ------------------------------------------------

section.footer {
	background: $footerColourBack;
	@include sectionPadding041515(5%,5%);
	color: $footerColourText;
	// color: white;

	& .row {
		@include flexboxSettings041715a;
		align-items: flex-start;
		margin: 0;
		padding: 0;
		margin-bottom: 5%;
	}

	& h2 {
		font-size: $footerHeaderFontSize;
		font-family: $footerFontFamilyHeader;
		color: $footerColourNonText;
		margin-bottom: 15%;
		letter-spacing: 2px;

		// 414
		@include iphone6Plus414R {
			text-align: center;
		}
	}

	& h3 {
		font-size: $footerHeaderFontSize*0.6;
		font-family: $footerFontFamilyHeader;
		color: $footerColourNonText;
		letter-spacing: 2px;

		// 414
		@include iphone6Plus414R {
			text-align: center;
		}
	}

	& a {
		color: $footerColourNonText;
	}

	// RECENT POSTS  ------------------------------------------------
	
	& section.recentPosts {
		@include column(8);

		// 667
		@include iphone6Plus667R {
			@include column(12);
		}

		& h2 {
			margin-bottom: 7%;
		}
		& li {
			@include flexboxSettings041715a;
			// justify-content: none;
			justify-content: space-between;
			align-items: baseline;
			border-bottom: $recentPostBorder;
			margin-top: 5%;

			// DATE META DATA  ------------------------------------------------
			& .date {
				// @include column(2);
				// @include column(1.3);
				height: 7.5%;
				// height: auto;
				// flex-grow: 1;
				color: $recentPostDateColour;
				border-radius: 7px;
				background: $recentPostDateBack;
				text-align: center;
				position: relative;
				padding: 0% 2% 0.5% 2%;
				// padding: 2% 2% 2% 2%;
				
				// &:hover {
				// 	background: $recentPostDateBackHover;
				// }

				// 768
				@include tabletR {
					height: 6%;
				}

				// 736
				@include iphone6Plus736R {
					height: 15%;
				}

				// 568
				@include iphone6Minus568R {
					height: 18%;
				}

				// 480
				@include phoneR {
					height: 18%;
				}

				// 414
				@include iphone6Plus414R {
					height: 8%;
				}

				// 390
				@include applewatch42mmR {
					height: 18%;
				}

				// 375
				@include iphone6Plus375R {
					height: 9%;
				}

				// 340
				@include applewatch38mmR {
					height: 21%;
				}

				// 320
				@include iphone6Minus320R {
					height: 12%;
				}

				// 312
				@include applewatch42mm312R {
					height: 15%;
				}

				// 272
				@include applewatch42mm272R {
					height: 17%;
				}

				& p.month {
					font-size: $recentPostFontSizeMonth;
					// remove the extra margin that pushes p.day down
					margin: 0;
				}
				& p.day {
					font-size: $recentPostFontSizeDay;
					font-weight: bold;
					margin: 0;
				}

				// POINTER ARROW  ------------------------------------------------
				@include pointArrowDate041815a(1.875em,$recentPostDateBack);

				// @include desktopR {
				// 	@include pointArrowDate041815a(1.25em,$recentPostDateBack);
				// }
				
				// 1024
				@include ipadAir1024PortR {
					@include pointArrowDate041815a(1.25em,$recentPostDateBack);
				}
				@include ipadAir1024R {
					@include pointArrowDate041815a(1.25em,$recentPostDateBack);
				}
				// // END POINTER ARROW ------------------------------------------------


			}
			// // END DATE META DATA ------------------------------------------------
			
			
			// COPY TEXT  ------------------------------------------------
			& .copy {
				@include column(10);
				position: relative;
				z-index: 1;

				// 667
				@include iphone6Plus667R {
					@include column(10);
				}

				// 480
				@include phoneR {
					@include column(9);
					margin-bottom: 5%;
				}

				& h3 {
					color: $recentPostHeadlineColour;
					letter-spacing: 2px;
					margin-bottom: 2%;
				}
				& p {
					color: $recentPostSummaryText;
					font-family: $recentPostFontFamilySummaryText;
					font-size: $recentPostFontSizeText;
				}
			}
			// // END COPY TEXT ------------------------------------------------
			
		}
	}

	// // END RECENT POSTS ------------------------------------------------

	// ABOUT THIS  ------------------------------------------------
	
	& section.aboutThis {
		@include column(4);
		text-align: left;

		// 667
		@include iphone6Plus667R {
			@include column(12);
			margin-top: 8%;
			margin-bottom: 5%;
		}

		// 272
		@include applewatch42mm272R {
			text-align: center;
		}

		& h2 {
			color: $aboutHeadlineColour;
			letter-spacing: 2px;
			margin-bottom: 15%;
			text-align: left;

			// 667
			@include iphone6Plus667R {
				margin-bottom: 5%;
			}

			// 414
			@include iphone6Plus414R {
				text-align: center;
			}
		}
		& img {
			width: 100%;
			margin-bottom: 10%;

			// 667
			@include iphone6Plus667R {
				margin-bottom: 5%;
			}
		}
		& p {
			font-size: $recentPostFontSizeText;
			font-family: $recentPostFontFamilySummaryText;
			text-align: left;
		}
		& a.learnMore {
			// size, family, colour, background colour, hover background colour
			@include standardLinkStyle041715a($aboutFontSizeButton,$aboutFontFamilyButton,$aboutColourButton,$aboutColourButtonBack,$aboutColourButtonHover);
			@include transitionEffectAll(0.5s);
			letter-spacing: 2px;
			margin: 0;
			margin-top: 5%;
		}
	}

	// // END ABOUT THIS ------------------------------------------------

	// MORE LINKS  ------------------------------------------------
	section.moreLinks {
		@include column(4);

		// 667
		@include iphone6Plus667R {
			@include column(6);
		}

		// 414
		@include iphone6Plus414R {
			@include column(12);
		}

		// 375
		@include iphone6Plus375R {
			text-align: center;
		}

		& h2 {
			// 414
			@include iphone6Plus414R {
				margin-bottom: 3%;
				margin-top: 5%;
			}
		}

		& li {
			// border-bottom: $recentPostBorder;
			margin-top: 3%;
			padding-bottom: 3%;
		}
		& a {
			text-decoration: underline;
			color: $moreLinkColor;
			font-size: $moreLinkFontSize;

			// 272
			@include applewatch42mm272R {
				font-size: $moreLinkFontSize*0.8;
			}
			
			&:hover {
				text-decoration: none;
			}
		}
	}
	// // END MORE LINKS ------------------------------------------------

	// CONTACT INFO  ------------------------------------------------
	section.contactInfo {
		@include column(4);

		// 667
		@include iphone6Plus667R {
			@include column(12);
			margin-top: 5%;
		}

		& .address,.mail,.phone {
			margin: 0;
			padding: 0;
			// border-bottom: $contactBorder;
			margin-top: 5%;
			
			// & h3 {
			// 	display: block;
			// 	@include column(4);
			// }
			// & .col2 {
			// 	@include column(8);
			// }
		}
		& .col1 {
			margin: 0;
			padding: 0;
			// this must be applied after the reset of margin 0, padding 0
			@include column(4);
			
		}
		& .col2 {
			margin: 0;
			padding: 0;
			// this must be applied after the reset of margin 0, padding 0
			@include column(8);
			
		}

		& h2 {
			// 667
			@include iphone6Plus667R {
				margin-bottom: 5%;
			}
		}

		& h3 {
			margin: 0;
			padding: 0;
		}
		& p {
			font-size: $contactFontSize;
		}
		& a {
			text-decoration: underline;
			font-size: $contactFontSize;
			&:hover {
				text-decoration: none;
			}
		}
		& .address {
			
		}
		& .mail {
			padding-bottom: 5%;
			
		}
		& .phone {
			height: 5em;
			border-bottom: none;
			
		}

	}

	// SOCIAL MEDIA ICONS  ------------------------------------------------
	
	section.contactInfo ul.socialIcons {
		@include flexboxSettings041715a;
		justify-content: flex-start;
		align-content: flex-start;
		margin-bottom: 10%;
		// text-align: center;

		// 667
		@include iphone6Plus667R {
			justify-content: center;
			align-content: center;
			margin-bottom: 5%;
		}

		// 375
		@include iphone6Plus375R {
			text-align: center;
		}

		// 320
		@include iphone6Minus320R {
			justify-content: flex-end;
			align-content: flex-end;
		}

		// 272
		@include applewatch42mm272R {
			justify-content: center;
			align-content: center;
		}

		& a {
			// to centre the icons
			text-align: center;
			display: inline-block;
		}
		& span.fa {
			$iconsize: 1.4375em;
			$marginSpacing: 20px;
			font-size: 2.3em;
			width: $iconsize;
			height: $iconsize;
			line-height: $iconsize;
			border-radius: 5px;
			margin-right: $marginSpacing;
			// margin-left: $marginSpacing;
			
			// 768
			@include tabletR {
				margin-bottom: 15%;
			}

			&.fa-facebook {
				background: $socialFacebook;
				@include transitionEffectAllEaseIn(0.3s);
				@include socialIconHoverChange041715a($socialFacebook);
			}
			&.fa-dribble {
				background: $socialDribble;
				@include transitionEffectAllEaseIn(0.3s);
				@include socialIconHoverChange041715a($socialDribble);
			}
			&.fa-twitter {
				background: $socialTwitter;
				@include transitionEffectAllEaseIn(0.3s);
				@include socialIconHoverChange041715a($socialTwitter);
			}
			&.fa-linkedin {
				background: $socialLinkedIn;
				@include transitionEffectAllEaseIn(0.3s);
				@include socialIconHoverChange041715a($socialLinkedIn);
			}
			&.fa-google-plus {
				background: $socialGooglePlus;
				@include transitionEffectAllEaseIn(0.3s);
				@include socialIconHoverChange041715a($socialGooglePlus);
			}
		}
	}

	// // END SOCIAL MEDIA ICONS ------------------------------------------------
	
	// // END CONTACT INFO ------------------------------------------------
}

	// COPYRIGHT  ------------------------------------------------
	section.copyright {
		font-size: $copyrightFontSize;
		// need to set the section to 100% to give ul flexbox room to work
		width: 100%;
		// color: $copyrightColour;
		& .centreDiv {
			display: inline-block;
			width: auto;
			margin: 0 auto;
		}
		& ul {
			@include flexboxSettings041715a;
			// need to set the ul to width 100% so that flexbox has space
			width: 100%;
			// I needed to remove the justify-content by setting it to none to get rid of the weird spacing between the li elements...  I used the ::after "|" content with its own margins as the separator
			justify-content: center;
			// background: $copyrightColourBack;
			padding: 3% 5% 3% 5%;
			margin: 0 auto;
		}
		& li {
			// $marginSpacing: 2%;
			// margin-left: $marginSpacing;
			// margin-right: $marginSpacing;
			&:nth-child(1), &:nth-child(2) {
				&::after {
					content: '|';
					margin-right: 5%;
					margin-left: 5%;
					color: darken($footerColourText,25%);
				}
			}
		}
		& a {
			text-decoration: underline;
			color: $moreLinkColor;

			&:hover {
				text-decoration: none;
			}
		}
	}
	// // END COPYRIGHT ------------------------------------------------


// // END MAIN CODE ------------------------------------------------


///////////////////////////////////////////////