////////////////////////////////////////////
///// 		HERO BLOCK
///////////////////////////////////////////////

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////

@mixin imageSliderMainHead033015a {

	// this is for the slider version of the html code

	///////////////////////////////////////////	
	///  REMOVE BORDER AND SHADOW AROUND SLIDER
	/////////////////////////////////////////////

	// had to adjust the links so that bxslider.css came before style.css that way this code can overwrite the default

	.bx-wrapper .bx-viewport {
		box-shadow: none;
		border: 0;
		// MAKE SLIDER WRAPPER STRETCH ACROSS THE PAGE
		// before this there was a white gap on the right side no matter what resolution I used
		// bx-slider uses left: -5px by default which screws things up
		left: 0;
	}

	////////////////////////////////////////////

	////////////////////////////////////////////
	///// 		SHIFT SLIDER NAV UPWARD
	///////////////////////////////////////////////

	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
		// position: absolute;
		// width: 100%;
		// bottom: 10%;
		// bottom: 20%;
		bottom: 5%;

		// 736
		@include iphone6Plus736R {
			bottom: -8%;
		}

		// 720
		@include phabletR {
			bottom: -8%;
		}

		// 414
		@include iphone6Plus414R {
			bottom: -15%;
		}

		// 272
		@include applewatch42mm272R {
			bottom: -31%;
		}
	}

	////////////////////////////////////////////

	////////////////////////////////////////////
	///// 		MAKE SLIDER NEXT/PREV BUTTONS SHOW UP
	///////////////////////////////////////////////
	// the url(images/) by default won't work in my current setup
	// I have to change the links... to url(../images/) in this folder setup
	// don't forget to copy the images from the bx-slider folder

	// use this one to control the positioning of the next/prev button a links
	.bx-wrapper .bx-controls-direction a {
		top: 50%;
	}

	.bx-wrapper .bx-controls-auto .bx-start {
		background: url(../images/controls.png) -86px -11px no-repeat;
	}

	.bx-wrapper .bx-controls-auto .bx-stop {
		background: url(../images/controls.png) -86px -44px no-repeat;
	}

	.bx-wrapper .bx-loading {
		background: url(../images/bx_loader.gif) center center no-repeat #fff;
	}

	.bx-wrapper .bx-prev {
		left: 10px;
		background: url(../images/controls.png) no-repeat 0 -32px;
	}

	.bx-wrapper .bx-next {
		right: 10px;
		background: url(../images/controls.png) no-repeat -43px -32px;
	}

	////////////////////////////////////////////

	////////////////////////////////////////////
	///// 		CHANGE SLIDER'S PAGER LINK SO THAT YOU CAN ACTUALLY SEE WHICH ONE IS HIGHLIGHTED
	///////////////////////////////////////////////
	// original colour was #666 which only shows up on light or white backgrounds
	// change the pager hover colour and active colour
	// you could also separate them out

	// .bx-wrapper .bx-pager.bx-default-pager a {
	// 	// color: $sliderPagerColorLink;
	// }

	// you want to target the active mode
	// .bx-wrapper .bx-pager.bx-default-pager a.active {
	// 	color: $sliderPagerColorLink;
	// }

	// .bx-wrapper .active {
	// 	background: $sliderPagerColorLink;
	// }

	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
		background: $sliderPagerColorBack;
	}

	/////////////////////////////////////////////////
}

@mixin sectionHeroBlock041515a {
	section.heroblock {
		position: relative;
		z-index: 2;
		& ul {
			margin: 0;
			padding: 0;
		}
		& ul li a img {
			max-width: 100%;
			z-index: 1;
			// height: 60%;
		}

		& .meta {
			position: absolute;
			z-index: 1;
			background: $heroblockcolourback;
			top: 35%;
			left: 21.5%;
			padding: 2% 5% 1% 5%;
			border-radius: 5px;
			text-align: center;
			// @include column(12);
			& h1 {
				font-size: $heroblockfontsizeheader;
				font-family: $heroblockfontsizefontfamily;
				color: $heroblockcolour;
			}
			& p.subhead {
				font-size: $heroblockfontsize;
				color: $heroblockcoloursubhead;
			}
		}

		// NOTE:  This adjusted bxslider code must be put within the specific section otherwise you'll have to overwrite it later on when you use the same slider mechanism elsewhere...  Like the store page...

		@include imageSliderMainHead033015a;
	}
}

@mixin sectionHeroBlock041715a {
	section.heroblock {
		position: relative;
		z-index: 2;
		& ul {
			margin: 0;
			padding: 0;
		}
		& ul li a img {
			max-width: 100%;
			z-index: 1;
			// height: 60%;
		}

		& .metaHolder {
			position: absolute;
			z-index: 3000;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			text-align: center;

			// vertically and horizontally align .meta
			// this overwrites text-align above
			display: flex;
			align-items: center;
			justify-content: center;
		}

		& .meta {
			// make it inline block so you can centre it
			display: inline-block;
			// position: absolute;
			// z-index: 1;
			background: $heroblockcolourback;

			// top: 35%;
			// left: 21.5%;
			padding: 2% 5% 1% 5%;
			border-radius: 5px;
			text-align: center;
			// width: 100%;
			// using max-width prevents the div from staying the same size as the screen size shrinks
			max-width: 80%;

			// 940
			@include desktopR {
				max-width: 80%;
			}

			// 720
			@include phabletR {
				max-width: 60%;
			}

			// 480
			@include phoneR {
				padding: 2% 3% 0.5% 3%;
			}

			// 390
			@include applewatch42mmR {
				max-width: 75%;
			}

			// 320
			@include iphone6Minus320R {
				max-width: 72%;
			}

			// 272
			@include applewatch42mm272R {
				max-width: 68%;
			}

			& h1 {
				font-size: $heroblockfontsizeheader;
				font-family: $heroblockfontsizefontfamily;
				color: $heroblockcolour;

				// 736
				// @include iphone6Plus736R {
				// 	font-size: $heroblockfontsizeheader/2;
				// }

				// 667
				@include iphone6Plus667R {
					font-size: $heroblockfontsizeheader*0.7;
				}
				// @include iphone6Plus667LandR {
				// 	font-size: $heroblockfontsizeheader*0.9;
				// }
				
				// 480
				@include phoneR {
					font-size: $heroblockfontsizeheader*0.5;
				}

				// 390
				@include applewatch42mmR {
					font-size: $heroblockfontsizeheader*0.5;
				}

				// 375
				@include iphone6Plus375R {
					font-size: $heroblockfontsizeheader*0.4;
				}

				// 272
				@include applewatch42mm272R {
					font-size: $heroblockfontsizeheader*0.3;
				}
			}
			& p.subhead {
				font-size: $heroblockfontsize;
				color: $heroblockcoloursubhead;

				// 667
				@include iphone6Plus667R {
					font-size: $heroblockfontsize*0.7;
				}

				// 480
				@include phoneR {
					font-size: $heroblockfontsizeheader*0.4;
					padding: 0;
				}

				// 414
				@include iphone6Plus414R {
					font-size: $heroblockfontsizeheader*0.3;
				}

				// 375
				@include iphone6Plus375R {
					font-size: $heroblockfontsizeheader*0.25;
				}

				// 272
				@include applewatch42mm272R {
					font-size: $heroblockfontsizeheader*0.2;
				}

			}
		}

		// NOTE:  This adjusted bxslider code must be put within the specific section otherwise you'll have to overwrite it later on when you use the same slider mechanism elsewhere...  Like the store page...

		@include imageSliderMainHead033015a;
	}
}

////////////////////////////////////////////

////////////////////////////////////////////
///// 		MAIN CODE
///////////////////////////////////////////////

// this is where the banner image would go
// instead I may insert a 3 image slider instead

// VERSION 1  ------------------------------------------------

// @include sectionHeroBlock041515a;

// // END VERSION 1 ------------------------------------------------

// VERSION 2  ------------------------------------------------

@include sectionHeroBlock041715a;

// // END VERSION 2 ------------------------------------------------


///////////////////////////////////////////////