////////////////////////////////////////////
///// 		HIGHLIGHTS
///////////////////////////////////////////////

// this might be bullet benefits that need to be explained further, special offers, etc.
// follows the Rule of Three

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////



///////////////////////////////////////////////

////////////////////////////////////////////
///// 		MAIN CODE
///////////////////////////////////////////////

section.highlights {
	@include sectionPadding041515(2.5%,5.5%);
	border-bottom: 1px solid $highlightColourSectionBorder;
	& .hl_sections {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;

		// 720
		@include phabletR {
			// flex-direction: column;
		}

		// 480
		@include phoneR {
			// we needed to set this on the parent of the hl_block in order to get them to line up in one column
			flex-direction: column;
		}
	}
	& .hl_block {
		// @include column(4);
		// if you use flex: 1 when using flexbox you can skip using Semantic GS... Semantic GS locks up the sizing an is less flexible
		flex: 1;
		flex-direction: column;
		text-align: center;
		margin-bottom: 4%;
		// margin-top: 4%;
		
		// 720
		@include phabletR {
			// @include column(12);
		}

		// 480
		@include phoneR {
			flex-direction: column;
		}

		// ICON  ------------------------------------------------
		
		& span.fa {
			color: $highlightIconColour;
			width: 2em;
			height: 2em;
			// match the line height to the height of the element and it should align everything vertically again
			line-height: 2em;
			border-radius: 5px;
			position: relative;

			// code if you're not using ::before or ::after
			// & .downpointer {
			// 	position: absolute;
			// 	bottom: -74%;
			// 	// z-index: 1;
			// }
			
			@include transitionEffectAll(0.3s);

			&:hover {
				// @include transformRotate(720deg);
				@include transformRotateScale(360deg,1.2);
			}
		}

		// END ICON ------------------------------------------------
		
		
		& h2 {
			margin-top: 15%;
			margin-bottom: 10%;
			font-size: $highlightFontSizeHeader;
			letter-spacing: 2px;
			font-family: $highlightFontFamilyHeader;
			
			// 768
			@include tabletR {
				margin-top: 30%;
			}

			// 480
			@include phoneR {
				margin-top: 15%;
			}

			// 272
			@include applewatch42mm272R {
				margin-top: 25%;
			}
		}
		& p {
			font-family: $highlightFontFamilyText;
			font-size: $highlightFontSizeText;
			padding: 0 5% 0 5%;
		}
	}
	// ICON BLOCK LEFT  ------------------------------------------------
	& .special1 {
		

		// ICON
		& span.fa {
			background: $highlightImage1;
			@include pointArrowHighlights041815a($downArrowBorderWidth,$highlightImage1);
			// & .downpointer {
			// 	@include csshexagon041715a($downArrowBorderWidth,$highlightImage1,transparent,transparent,transparent);
			// }
		}
		
	}
	// // END ICON LEFT ------------------------------------------------
	
	// ICON BLOCK CENTRE  ------------------------------------------------
	& .special2 {
		position: relative;
		@include highlightBoxShadow041515b($highlightColourBlockShadow,-19px,22px,-25px);

		// 768
		@include tabletR {
			&::before {display: none;}
			&::after {display: none;}
		}

		// 720
		@include phabletR {
			&::before {display: none;}
			&::after {display: none;}
		}

		// ICON
		& span.fa {
			background: $highlightImage2;
			@include pointArrowHighlights041815a($downArrowBorderWidth,$highlightImage2);
			// & .downpointer {
			// 	@include csshexagon041715a($downArrowBorderWidth,$highlightImage2,transparent,transparent,transparent);
			// }
		}		
	}
	// // END ICON CENTRE ------------------------------------------------
	
	// ICON BLOCK RIGHT  ------------------------------------------------
	& .special3 {
		

		// ICON
		& span.fa {
			background: $highlightImage3;
			
			@include pointArrowHighlights041815a($downArrowBorderWidth,$highlightImage3);

			// & .downpointer {
			// 	@include csshexagon041715a($downArrowBorderWidth,$highlightImage3,transparent,transparent,transparent);
			// }
		}
	}
	// // END RIGHT ------------------------------------------------
	
	// BUTTONS, ACTION  ------------------------------------------------
	& .row {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
	}
	& a {
		display: inline-block;
		background: lightgrey;
		padding: 2% 8% 2% 8%;
		margin-right: 1%;
		margin-left: 1%;
		border-radius: 5px;
		color: $highlightColourLink;
		font-size: $highlightFontSizeLink;
		@include transitionEffectAll(0.5s);
		font-family: $highlightFontFamilyLink;
		letter-spacing: 2px;

		// 375
		@include iphone6Plus375R {
			margin-bottom: 3%;
		}

		&.jumpOnIt {
			background: $highlightColourBackLink1;
			&:hover {
				background: $highlightColourBackLink1Hover;
			}
		}
		&.learnMore {
			background: $highlightColourBackLink2;
			&:hover {
				background: $highlightColourLink2Hover;
			}
		}
	}
	// // END BUTTONS, ACTION ------------------------------------------------
	
}

///////////////////////////////////////////////