////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////

@mixin transitionEffectAll ($time) {
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-o-transition: all $time;
	-ms-transition: all $time;
}

@mixin transitionEffectAllEaseIn ($time) {
	-webkit-transition: all $time ease-in;
	-moz-transition: all $time ease-in;
	-o-transition: all $time ease-in;
	-ms-transition: all $time ease-in;
}

@mixin boxShadow ($hor,$ver,$blur,$colour) {
	// where $hor, $ver, $blur are in #px
	-webkit-box-shadow: $hor $ver $blur $colour;
	-moz-box-shadow: $hor $ver $blur $colour;
	-o-box-shadow: $hor $ver $blur $colour;
	box-shadow: $hor $ver $blur $colour;
}

@mixin transformRotate ($degrees) {
	// where $degrees is x deg
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	transform: rotate($degrees);
}

@mixin transformRotateScale ($degrees,$scaleMult) {
	// where $degrees is x deg
	// where $scaleMult is a number like 2 or 3 with no units
	-webkit-transform: rotate($degrees) scale($scaleMult);
	-moz-transform: rotate($degrees) scale($scaleMult);
	-o-transform: rotate($degrees) scale($scaleMult);
	-ms-transform: rotate($degrees) scale($scaleMult);
	transform: rotate($degrees) scale($scaleMult);
}

