////////////////////////////////////////////
///// 		NAV BAR
///////////////////////////////////////////////

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////

@mixin subnavmenu1 {
	// SUB NAV MENU 1  ------------------------------------------------
	
	// style the subnavmenu1
	& ul.navbar ul.subnavmenu1 {
		// by default this menu is hidden until you hover over its parent
		// NOTE:  we should also have the CSS code for mobile that allows you to click and the JS script code that does the same thing in case the mobile browser doesn't support CSS3
		// turn on/off by commenting
		position: absolute;
		margin: 0;
		padding: 0;

		// to test/style sub menu comment display none out temporarily
		display: none;
		
		flex-flow: column;
		justify-content: flex-start;
		background: $subnavcolourback;
		border-radius: 5px;
		width: 14.1875em;

		// positioning relative to parent without the pointer
		// left: -38%;
		// positioning relative to parent with the pointer
		left: -38%;
		top: 182%;

		// bx slider's z-index is set to 2000; you have to exceed that value
		z-index: 2000;

		& li {
			padding: 0;
			margin: 0;
			// width: auto;
		}

		//-------------------------------------
		// the parent nav menu passed down its styling to the sub menu... these must be reset/canceled out
		& a {
			color: $subnavcolour;
			background: none;
			font-style: italic;
			// KEY POINT:  you must set the margin to 0 on the a so it can completely fill the li, otherwise you have a "dead zone" edge
			margin: 0;
			// need to set a width on a element so that it spans the entire length of the sub nav menu... width: auto on the li doesn't seem to make a difference
			width: 100%;
			@include transitionEffectAllEaseIn(0.3s);
			&:hover {
				background: none;
				color: $subnavcolourhover;
			}
		}

		
		& li:nth-child(1) a {
			color: $subnavcolour;
			background: none;
			&:hover {
				background: none;
				color: $subnavcolourhover;
			}
		}

		&::before {
			content: " ";
			position: absolute;
			@include csshexagon041715a(1.875em,transparent,$subnavcolourback,transparent,transparent);
			top: -60px;
			right: 36%;
		}

		//-------------------------------------
		
	}

	// // END SUB NAV MENU 1 ------------------------------------------------
}

// @mixin subMenuBasic ($left,$top) {
// 	// style the subMenu
// 	width: 100%;
// 	display: none;
// 	position: absolute;
// 	left: $left;
// 	top: $top;
// 	border:1px solid $sidebarBorderColor;
// 	background: $sidebarNavBack;
// 	// bx slider's z-index is set to 2000; you have to exceed that value
// 	z-index: 4000;
// 	// enable the ability for list items to appear
// 	& li {
// 		display:list-item; //Set the sub navs list items back
// 		// float:none;
// 		// style the submenu list items
// 		& a {
// 			display:block;
// 			// float:none;
// 			padding: $sidebarNavPadding;
// 			font-size: $basefontsize*1.1;
// 		}
// 	}
// }

///////////////////////////////////////////////

////////////////////////////////////////////
///// 		MAIN CODE
///////////////////////////////////////////////

section.navbar {
	margin-top: 0;
	// background: $navbarcolourback;
	@include sectionPadding041515(2.5%,2.5%);

	// bx slider's z-index is set to 2000; you have to exceed that value
	position: relative;
	z-index: 999;

	& h2 {
		text-align: center;
		font-size: $navbarheadersize;
		margin-bottom: 1.5%;
		font-family: $navbarheaderfontfamily;
	}

	// NAV MENU MAIN  ------------------------------------------------
	& ul.navbar {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		
		& a {
			text-align: center;
			display: inline-block;
			padding: 1em 2em 1em 2em;
			// background: blue;
			margin-left: 0.5em;
			margin-right: 0.5em;
			font-style: italic;
			font-size: $navbarfontsize;
			color: $navbarcolourmenu;
			border-radius: 5px;
			@include transitionEffectAll(0.5s);
			&:link {
				color: $navbarcolourmenu;
			}
			&:visited {
				color: $navbarcolourmenu;
			}
			&:hover {
				color: $navbarcolourmenu;
				background: $navbarcolourmenubackhover2;
			}
		}

		// nth-child only works on a child element... a is not the child element of ul... it's the child element of the li... so you must select the li with nth-child instead and then target the a
		& li:nth-child(1) a {
			color: $navbarcolourmenuhover;
			background: $navbarcolourmenubackhover;
			&:hover {
				background: $navbarcolourmenubackhover;
			}
		}

		// this is the parent of the subnavmenu1 which we must set to position relative
		// this is wrong because submenu triggers should be on the li not the a nested inside the li
		// & li:nth-child(2) a {
		// 	position: relative;
		// 	background: blue;
		// 	&:hover ul.subnavmenu1 {
		// 		display: flex;
		// 		// make subMenu appear when you hover over the parent "li" within the navbar
		// 	}
		// }
		// this is right
		& li:nth-child(2) {
			position: relative;
			// background: blue;
			&:hover ul.subnavmenu1 {
				display: flex;
				// make subMenu appear when you hover over the parent "li" within the navbar
			}
		}
	}
	// // END NAV MENU MAIN ------------------------------------------------

	
	// SUBHEADING  ------------------------------------------------
	
	@include subnavmenu1;

	// // END SUBHEADING ------------------------------------------------
	

}

///////////////////////////////////////////////