////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

$lightenIncrement: 10%;
$darkenIncremement: 10%;

// COLOURS ----------------------------------
$firenzeGreen: #248f67;
$firenzePeachYellow: #fff4a1;
$firenzeOrange: #ffad19;
$firenzeRed: #c3360a;
$firenzeDarkRed: #990700;
// END COLOURS ----------------------------------

// FONT FAMILIES ----------------------------------
$opensans: 'Open Sans', sans-serif;
$francoisone: 'Francois One', sans-serif;
$josefinsans: 'Josefin Sans', sans-serif;
$anton: 'Anton', sans-serif;
// END FONT FAMILIES ----------------------------------

// BASE ----------------------------------
$basefontfamily:$opensans;
$basefontsize:16px;
$baselineheight:16px;
$baseFontColor: black;
$baseHoverColor: $firenzeRed;
$basebackcolor: white;
// END BASE ----------------------------------

// NAV BAR ----------------------------------
$navbarcolour: $baseFontColor;
// $navbarcolourback: white;
$navbarcolourback: $firenzePeachYellow;

$navbarheaderfontfamily: $francoisone;
$navbarheadersize: $basefontsize*2;

$navbarfontsize: $basefontsize*0.8;

$navbarcolourmenu: black;
$navbarcolourmenuhover: white;
$navbarcolourmenubackhover: $firenzeRed;
$navbarcolourmenubackhover2: lighten(grey,40%);

//navbar submenu
$subnavcolour: darken(white,20%);
$subnavcolourhover: white;
// orange
// $subnavcolourback: rgba(255, 173, 25,0.8);
// $subnavcolourbackhover: rgba(255, 173, 25,0.8);
// dark red
$subnavcolourback: rgba(153, 7, 0,0.8);
$subnavcolourbackhover: rgba(153, 7, 0,0.8);
$subnavheaderfontfamily: $francoisone;
$subnavfontsize: $basefontsize*2;


// END NAV BAR ----------------------------------

// HERO BLOCK ----------------------------------
$heroblockcolour: white;
$heroblockcolourback: $firenzeOrange;
$heroblockcoloursubhead: $firenzeRed;

$heroblockfontsize: $basefontsize*1.5;
$heroblockfontsizeheader: $basefontsize*2.5;
$heroblockfontsizefontfamily: $francoisone;

$sliderPagerColorBack: $firenzeOrange;

// END HERO BLOCK ----------------------------------

// HIGHLIGHTS ----------------------------------
$highlightColour: lighten(black,50%);
$highlightImage1:$firenzeGreen;
$highlightImage2:$firenzeOrange;
$highlightImage3:$firenzeRed;

// highlight icons
$highlightIconColour: white;

// highlight block

$highlightColourLink: white;
$highlightFontSizeLink: $basefontsize*1.3;
$highlightColourSectionBorder: darken(#f9f9f9,15%);
$highlightColourBlockBorder: #f9f9f9;
// $highlightColourBlockShadow: #f0f0f0;
$highlightColourBlockShadow: rgba(240, 240, 240,0.8);

$highlightFontFamilyHeader: $anton;
$highlightFontFamilyText: $josefinsans;
$highlightFontFamilyLink: $anton;

$highlightFontSizeHeader: $basefontsize*1.5;
$highlightFontSizeText: $basefontsize;

// highlight lowest links
$highlightColourBackLink1: $firenzeRed;
$highlightColourBackLink1Hover: lighten($highlightColourBackLink1,$lightenIncrement);
// $highlightFontFamilyLink1: $francoisone;

$highlightColourBackLink2: $firenzeGreen;
// $highlightColourBackLink2: black;
$highlightColourLink2Hover: lighten($highlightColourBackLink2,$lightenIncrement);
// $highlightFontFamilyLink2: $francoisone;

// END HIGHLIGHTS ----------------------------------

// PORTFOLIO ----------------------------------
$portfolioColour: $baseFontColor;
$portfolioColourBack: $firenzePeachYellow;

// portfolio header
// $portfolioBorderMajor: 1px solid #f9f9f9;
$portfolioBorderMajor: 1px solid $firenzeDarkRed;
$portfolioHeaderFontFamily: $anton;
$portfolioHeaderFontSize: $basefontsize*1.5;
$portfolioHeaderColourBack: $firenzePeachYellow;

// portfolio units
$portfolioUnitColourBack: white;
$portfolioUnitFontSizeHeader: $basefontsize*1.3;
$portfolioUnitFontSizeText: $basefontsize;
$portfolioUnitFontSizeLink: $basefontsize;
$portfolioUnitFontFamilyHeader: $francoisone;
$portfolioUnitFontFamilyText: $josefinsans;
$portfolioUnitFontFamilyLink: $francoisone;

// portfolio units links
$portfolioColourLink: white;
$portfolioColourBackLink: $firenzeOrange;

$portfolioColourLinkHover: lighten($portfolioColourBackLink,$lightenIncrement);

// END PORTFOLIO ----------------------------------

// BLOG ----------------------------------
$blogColour: black;
$blogColourBack: $firenzePeachYellow;

// header major
$blogColourBackHeaderM: $firenzePeachYellow;
$blogBorderHeaderM: 1px solid $firenzeDarkRed;
$blogFontFamilyHeaderM: $anton;
$blogFontSizeHeaderM: $basefontsize*1.5;

// blog unit
$blogUnitColourBack: white;

$blogFontFamilyHeader: $francoisone;
$blogFontSizeHeader: $basefontsize*1.3;

$blogFontFamilyText: $josefinsans;
$blogFontSizeText: $basefontsize;

$blogBorder: 1px solid $firenzeDarkRed;

// links

$blogFontFamilyLink: $francoisone;
$blogFontSizeLink: $basefontsize;
$blogFontColourLink: white;

$blogColourBackLink1: $firenzeRed;
$blogColourBackHoverLink1: lighten($blogColourBackLink1,$lightenIncrement);

$blogColourBackLink2: $firenzeGreen;
$blogColourBackHoverLink2: lighten($blogColourBackLink2,$lightenIncrement);

// END BLOG ----------------------------------

// FOOTER ----------------------------------

$footerColourText: lighten(grey,$lightenIncrement*2.5);
$footerColourNonText: lighten(white,$darkenIncremement*3);
$footerColourBack: $firenzeDarkRed;

$footerHeaderFontSize: $basefontsize*1.7;
$footerFontFamilyHeader: $anton;

// recent posts
$recentPostHeaderFontSize: $basefontsize*1.2;
$recentPostHeaderFontFamily: $francoisone;
$recentPostColour: $footerColourNonText;
$recentPostColourBack: $firenzeDarkRed;

$recentPostDateColour: black;
$recentPostDateBack: $firenzePeachYellow;
$recentPostFontSizeMonth: $basefontsize;
$recentPostFontSizeDay: $basefontsize*1.8;
$recentPostHeadlineColour: $recentPostColour;
$recentPostBorder: 1px solid lighten($firenzePeachYellow,5%);

$recentPostSummaryText: $footerColourText;
$recentPostFontFamilySummaryText: $josefinsans;
$recentPostFontSizeText: $basefontsize*1.1;

// about
$aboutHeadlineColour: $footerColourNonText;
$aboutColourLink: $recentPostDateBack;
$aboutFontSizeButton: $basefontsize;
$aboutFontFamilyButton: $francoisone;
$aboutColourButton: white;
$aboutColourButtonBack: $firenzeOrange;
$aboutColourButtonHover: lighten($blogColourBackLink1,$lightenIncrement);

// more links
$moreLinkFontSize: $basefontsize*0.9;
$moreLinkColor: $footerColourNonText;

// contact info
$contactFontSize: $basefontsize*0.9;
$socialFacebook: #3c549a;
$socialTwitter: #00aae8;
$socialDribble: #d40066;
$socialLinkedIn: #00639b;
$socialGooglePlus: #eb0000;

$contactBorder: 1px solid lighten($firenzePeachYellow,5%);

// copyright
$copyrightFontSize: $basefontsize*0.7;
$copyrightColour: white;
$copyrightColourBack: lighten($firenzeDarkRed,$lightenIncrement*3);

// END FOOTER ----------------------------------

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////

// don't forget to include the $ in front of the variables



////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

// suggest you build some classes ahead of time which you can assign as required

// I almost always get rid of text decoration so why no just get rid of it by default?
a {
	text-decoration: none;
}

.italicIt {
	font-style: italic;
}

.boldIt {
	font-weight: 900;
}

.yellowHighlight {
	background: yellow;
}

.orangeHighlight {
	background: #ffbe74;
}

.crimsonWords {
	color: red;
}

