extends index.layout.030215.1.pug

//- since this is a one page site there's not going to be much more complexity than a single file

block title
	title Sideways Street by Sunny Lam

block navbar
	include ./includes/navbar.041415.1.pug

block heroblock
	include ./includes/heroblock.041415.1.pug

block highlights
	include ./includes/highlights.041415.1.pug

block portfolio
	include ./includes/portfolio.041415.1.pug

block blog
	include ./includes/blog.041415.1.pug

block footer
	include ./includes/footer.041415.1.pug