////////////////////////////////////////////
// 		HERO BLOCK
/////////////////////////////////////////

//- It will be easier to set the background of the section to the hero image... everything else can be wrapped

section.heroblock
	.wrapper.clearfix
		h1 There's A 
			span Sideways Street 
			| On Every Path
		p.subhead A Responsive Template by Sunny Lam

////////////////////////////////////////////