////////////////////////////////////////////
// 		NAVBAR
/////////////////////////////////////////

section.navbar
	.wrapper.clearfix
		h2 Sideways Street
		ul.navbar
			+linkTemplate033115a('#','Home')
			+linkTemplate033115a('#','Dropdown')
			+linkTemplate033115a('#','Left Sidebar')
			+linkTemplate033115a('#','Right Sidebar')
			+linkTemplate033115a('#','No Sidebar')

////////////////////////////////////////////

