////////////////////////////////////////////
// 		PORTFOLIO
/////////////////////////////////////////

//- ===================================
//- 		MIXINS
//- ===================================

mixin portfolioBlock041415a(classLabels,imgURL,imgAltText)
	if block
		block
	else
		section(class=classLabels).portfolio_unit
			img(src="http://lorempixel.com/400/400", alt="Lorem Picture Placeholder")
			//- img(src="../images/bigImage2.jpg", alt="Big Image")
			.text
				h3 Lorem ipsum dolor sit
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis iste debitis, voluptates sed repellendus nihil alias, enim, praesentium ex, cum aliquam quod temporibus libero. Placeat animi voluptatibus magni!
				+linkTemplate033115a("#","Learn More")


//- END MIXINS

section.portfolio
	.wrapper.clearfix
		header.major
			h2 My Portfolio
		.flexbox
			+portfolioBlock041415a('video')
			+portfolioBlock041415a('graphic')
			+portfolioBlock041415a('web')
			+portfolioBlock041415a('video')
			+portfolioBlock041415a('graphic')
			+portfolioBlock041415a('graphic')

////////////////////////////////////////////