//- ===================================
//- 		GLOBAL VARIABLES
//- ===================================

//- variables I want to be able to access in any part of the project code

- var facebookLink = '#';
- var twitterLink = '#';
- var dribbleLink = '#';
- var linkedInLink = '#';
- var googlePlusLink = '#';
- var personalWebSite = 'http://sunnylam.ca';
- var loremWebLink = 'http://lorempixel.com'

//- END VARIABLES